.footer_title h3 {
  padding: 10px 0;
  font-size: 16px;
  /* color: #424242; */
  color: #fff;
}
.text-cenetr {
  text-align: center;
}

.image-icon {
  opacity: 0.8;
  width: 38px;
}

.image-icon:hover {
  opacity: unset;
}
.socialLink li {
  display: inline-block;
  margin-right: 10px;
}
.socialLink li .fa {
  float: left;
  font-size: 26px;
}
.socialLink li .fa-facebook-square {
  /* color: #2f42a0; */
}
.socialLink li .fa-google-plus-square {
  color: #d14b38;
}
.socialLink li .fa-linkedin-square {
  color: #006294;
}
.socialLink li .fa-instagram {
  color: #f22a9c;
}
.socialLink li .fa-twitter-square {
  color: #27dee2;
}
.socialLink li .fa-facebook-square:hover {
  background: #fff;
  color: #0e2494;
}
.socialLink li .fa-google-plus-square:hover {
  color: #c43723;
}
.socialLink li .fa-linkedin-square:hover {
  color: #013854;
}
.socialLink li .fa-instagram:hover {
  color: #ea0a8a;
}
.socialLink li .fa-twitter-square:hover {
  color: #07797b;
}

@media only screen and (max-width: 640px) {
  .container,
  .container-sm {
    width: 95% !important;
    max-width: 95% !important;
  }
  .mob_m_b_20 {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 1024px) {
  .container,
  .container-sm {
    width: 95% !important;
    max-width: 95% !important;
  }
}
