*
/* *:before,
*:after  */ {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.imgclass {
  overflow: hidden;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 260px;
  height: 100%;
  padding-top: 360px;
}

.imgclass::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 900px;
  height: 100px;
  background-image: url(Signlogo.jpg);
  background-size: cover;
  transition: -webkit-transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}

.imgclass::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
