.submenu {
  display: none;
  z-index: 5;
  position: absolute;
  top: 95px;
  padding-top: 5px;
  width: 150px;
  background: #f5f5f5;
}
.submenu li {
  width: 100%;
  float: left;
  margin-bottom: 3px;
}
.submenu li a {
  font-size: 13px;
  padding: 5px 10px;
  width: 100%;
  float: left;
  color: #424242;
}
.submenu li a:hover {
  background: #dad7d7;
}
