.MuiPopover-root ul {
  width: 130px;
  background: #f5f5f5;
  float: left;
  padding: 5px 0px;
}
.MuiPopover-root li {
  width: 100%;
  float: left;
  margin-bottom: 3px;
  font-size: 13px;
  padding: 5px 10px;
  color: #424242;
}
.MuiPopover-root li:hover {
  background: #dad7d7;
}
.menuList {
  background: none !important;
}
.menuList:hover {
  background: #e0e0e0 !important;
}
