.testimonial {
  background: #d9f7b7;
}
.testimonial h3 {
  color: #333;
  font-size: 26px;
  margin-bottom: 25px;
  text-align: center;
}
.testimonial p {
  color: #333;
  padding-top: 5px;
}
.disFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.testImg img {
  border: 10px solid #777;
  border-radius: 5px;
  width: 100%;
}
.testimonial .leftGrid {
  width: 30%;
  float: left;
  margin-right: 20px;
}
.testimonial .rightGrid {
  width: 65%;
  float: left;
}
.testimonial .nameElm {
  text-align: center;
  margin-top: 5px;
  font-size: 18px;
  color: #777;
}

.testimonial .carousel-control-next,
.testimonial .carousel-control-prev {
  display: none;
}
.testimonial .carousel-indicators li {
  background: #4ec477;
}

@media only screen and (max-width: 640px) {
  .testimonial {
    padding-bottom: 50px;
  }
  .testimonial .leftGrid {
    width: 100%;
    margin-bottom: 5px;
  }
  .testimonial .rightGrid {
    width: 100%;
  }
  .testimonial .nameElm {
    margin-top: 10px;
  }
  .testImg img {
    height: 200px;
  }
  .carousel {
    height: auto !important;
  }
  .testimonial p {
    padding-top: 0px;
    text-align: center;
  }
  .testimonial .carousel-indicators {
    bottom: -40px !important;
  }
}

@media (min-width: 640px) and (max-width: 1024px) {
  .container,
  .container-sm {
    width: 95% !important;
    max-width: 95% !important;
  }
  .testimonial {
    padding-bottom: 50px;
  }
  .testimonial .leftGrid {
    width: 100%;
    margin-bottom: 5px;
  }
  .testimonial .rightGrid {
    width: 100%;
  }
  .testimonial .nameElm {
    margin-top: 10px;
  }
  .testImg img {
    height: 200px;
  }
  .carousel {
    height: auto !important;
  }
  .testimonial p {
    text-align: center;
  }
  .testimonial .carousel-indicators {
    bottom: -40px !important;
  }
}
